<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="SalesForce Application Test Automation Test Suite">
  
    <listeners>
		<listener class-name="com.qa.ExtentReportListener.ExtentReportListenerNG" />
	</listeners>
    
	<test name="SalesForce App Test Cases">
		<classes>
			<class name="com.salesforce.qa.testcases.LoginPageTest"></class>
			<class name="com.salesforce.qa.testcases.HomePageTest"></class>
			<class name="com.salesforce.qa.testcases.ContactPageTest"></class>
			<class name="com.salesforce.qa.testcases.ProfilePageTest"></class>

		</classes>
	</test>
</suite>